{{ define "main" }}

<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-8 sm:py-16">
  <div class="prose md:prose-lg max-w-4xl mx-auto">
    {{ .Content }}
  </div>
</div>

<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-4xl bg-gray-100 rounded-xl">
    <div class="flex flex-col md:flex-row">
      <div class="p-8 prose">
        <h2>Wir freuen uns darauf Sie kennenzulernen!</h2>
        <p>In unserem ersten Gespräch möchten wir <strong>Sie und Ihr Unternehmen kennenlernen</strong>. Erzählen Sie uns vom aktuellen Stand Ihrer IT Struktur und wir finden zusammen heraus, wie wir Ihnen helfen können.</p>
        <p class="text-lg font-semibold">Wir sehen uns im Erstgespräch ✅</p>
        <p>Hashem Mahmoud <span class="font-light">und</span> Henry Akmann</p>
      </div>
      <img src="/content/team/team_business.png" alt="HanovaTech Team" class="h-96 brightness-110 pt-8 pr-8" />
    </div>
  </div>
</div>

{{ end }}