{{ define "main" }}
<div class="relative isolate text-center overflow-hidden bg-gray-50 px-6 py-2.5 sm:px-3.5 sm:before:flex-1">
  <div class="absolute left-[max(-7rem,calc(50%-52rem))] top-1/2 -z-10 -translate-y-1/2 transform-gpu blur-2xl" aria-hidden="true">
    <div class="aspect-[577/310] w-[36.0625rem] bg-gradient-to-r from-[#ff80b5] to-[#9089fc] opacity-30" style="clip-path: polygon(74.8% 41.9%, 97.2% 73.2%, 100% 34.9%, 92.5% 0.4%, 87.5% 0%, 75% 28.6%, 58.5% 54.6%, 50.1% 56.8%, 46.9% 44%, 48.3% 17.4%, 24.7% 53.9%, 0% 27.9%, 11.9% 74.2%, 24.9% 54.1%, 68.6% 100%, 74.8% 41.9%)"></div>
  </div>
  <div class="absolute left-[max(45rem,calc(50%+8rem))] top-1/2 -z-10 -translate-y-1/2 transform-gpu blur-2xl" aria-hidden="true">
    <div class="aspect-[577/310] w-[36.0625rem] bg-gradient-to-r from-[#ff80b5] to-[#9089fc] opacity-30" style="clip-path: polygon(74.8% 41.9%, 97.2% 73.2%, 100% 34.9%, 92.5% 0.4%, 87.5% 0%, 75% 28.6%, 58.5% 54.6%, 50.1% 56.8%, 46.9% 44%, 48.3% 17.4%, 24.7% 53.9%, 0% 27.9%, 11.9% 74.2%, 24.9% 54.1%, 68.6% 100%, 74.8% 41.9%)"></div>
  </div>
  <p class="text-sm leading-6 text-gray-900">
    {{ .Params.banner | markdownify }}
  </p>
</div>


<div class="bg-white pt-10 pb-16 sm:pb-24">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-4xl text-center">
      <h2 class="text-base font-semibold leading-7 text-blue-600">Managed Workspace Pakete</h2>
      <p class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl">{{ .Params.heading }}</p>
    </div>
    <p class="mx-auto mt-6 max-w-2xl text-center text-lg leading-8 text-gray-600">{{ .Params.description }}</p>
    <div class="isolate mx-auto mt-10 grid max-w-md grid-cols-1 gap-8 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      <div class="rounded-3xl p-8 ring-1 xl:p-10 ring-gray-200">
        <h3 id="tier-freelancer" class="text-lg font-semibold leading-8 text-gray-900">{{ .Params.first_bundle.name }}</h3>
        <p class="mt-4 text-sm leading-6 text-gray-600">Geeignet für Freelancer und kleine Teams mit bis zu 20 Mitarbeitern.</p>
        <!-- <p class="mt-6 flex items-baseline gap-x-1">
          <span class="text-xl font-bold tracking-tight text-gray-900">Ab 59,40€ </span>
          <span class="text-sm font-semibold leading-6 text-gray-600">/month</span>
        </p> -->
        <a href="#contact" aria-describedby="tier-freelancer" class="mt-6 block rounded-md py-2 px-3 text-center text-sm font-semibold leading-6 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 bg-blue-600 text-white shadow-sm hover:bg-blue-500 focus-visible:outline-blue-600">Anfrage schicken</a>
        <ul role="list" class="mt-8 space-y-3 text-sm leading-6 xl:mt-10 text-gray-600">
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-blue-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Endpoint Monitoring
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-blue-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Patchmanagement
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-blue-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Managed Endpoint Protection
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-blue-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Cybersecurity Awareness Journal
          </li>
        </ul>
      </div>
      <div class="rounded-3xl p-8 ring-1 xl:p-10 ring-gray-200">
        <h3 id="tier-startup" class="text-lg font-semibold leading-8 text-gray-900">{{ .Params.second_bundle.name }}</h3>
        <p class="mt-4 text-sm leading-6 text-gray-600">{{ .Params.second_bundle.description }}</p>
        <!-- <p class="mt-6 flex items-baseline gap-x-1">
          <span class="text-xl font-bold tracking-tight text-gray-900">Ab 86,60€</span>
          <span class="text-sm font-semibold leading-6 text-gray-600">/month</span>
        </p> -->
        <a href="#contact" aria-describedby="tier-startup" class="mt-6 block rounded-md py-2 px-3 text-center text-sm font-semibold leading-6 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 bg-blue-600 text-white shadow-sm hover:bg-blue-500 focus-visible:outline-blue-600">Anfrage schicken</a>
        <ul role="list" class="mt-8 space-y-3 text-sm leading-6 xl:mt-10 text-gray-600">
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-blue-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Alles, was das Basic-Paket beinhaltet
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-blue-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Microsoft 365 Lizenzen
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-blue-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Managed 365 Backup
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-blue-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            DSGVO konformer Email-Archivierung
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-blue-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Zentrale Verwaltung von Email-Signaturen
          </li>
        </li>
        <li class="flex gap-x-3">
          <svg class="h-6 w-5 flex-none text-blue-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
          </svg>
          Lizenzverwaltung durch digitales On- und Offboarding
        </li>
        </ul>
      </div>
      <div class="rounded-3xl p-8 ring-1 xl:p-10 bg-gray-900 ring-gray-900">
        <h3 id="tier-enterprise" class="text-lg font-semibold leading-8 text-white">{{ .Params.third_bundle.name }}</h3>
        <p class="mt-4 text-sm leading-6 text-gray-300">{{ .Params.third_bundle.description }}</p>
        <!-- <p class="mt-6 flex items-baseline gap-x-1">
          <span class="text-4xl font-bold tracking-tight text-white">Custom</span>
        </p> -->
        <!-- <p class="mt-6 flex items-baseline gap-x-1">
          <span class="text-xl font-bold tracking-tight text-white">Ab 96,60€</span>
          <span class="text-sm font-semibold leading-6 text-white">/month</span>
        </p> -->
        <a href="#contact" aria-describedby="tier-enterprise" class="mt-6 block rounded-md py-2 px-3 text-center text-sm font-semibold leading-6 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 bg-white/10 text-white hover:bg-white/20 focus-visible:outline-white">Anfrage schicken</a>
        <ul role="list" class="mt-8 space-y-3 text-sm leading-6 xl:mt-10 text-gray-300">
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Alles, was das Premium Paket beinhaltet
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Geräteverwaltung (MDM/MAM)
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Flatrate remote IT-Support (1st & 2nd Level Support) 
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Passwortmanager Hosting
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            IT-Support Wiki
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-8 sm:py-16">
  <div class="prose md:prose-lg max-w-4xl mx-auto">
    {{ .Content }}
  </div>
</div>

<section id="contact">
  <div class="isolate bg-white pb-12 lg:pb-20 px-6 lg:px-8">
    <div class="md:grid md:grid-cols-3 gap-12 max-w-4xl mx-auto">
      <ul class="md:order-last flex flex-col gap-6">
        <h2 class="text-2xl text-gray-900 font-bold">Kontaktdaten</h2>
        <li class="flex flex-row gap-4">
          <span class="sr-only">Adresse</span>
          <svg class="h-7 w-6 text-gray-700" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 21h19.5m-18-18v18m10.5-18v18m6-13.5V21M6.75 6.75h.75m-.75 3h.75m-.75 3h.75m3-6h.75m-.75 3h.75m-.75 3h.75M6.75 21v-3.375c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21M3 3h12m-.75 4.5H21m-3.75 3.75h.008v.008h-.008v-.008zm0 3h.008v.008h-.008v-.008zm0 3h.008v.008h-.008v-.008z" />
          </svg>
          <p class="text-base leading-7 text-gray-700">{{ .Params.address | safeHTML }}</p>
        </li>
        <li class="flex flex-row gap-4">
          <span class="sr-only">Telefon</span>
          <svg class="h-7 w-6 text-gray-700" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z" />
          </svg>
          <a href="tel:{{ .Params.phone }}" class="text-base leading-7 text-gray-700">{{ .Params.phone }}</a>
        </li>
        <li class="flex flex-row gap-4">
          <span class="sr-only">Email</span>
          <svg class="h-7 w-6 text-gray-700" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
          </svg>
          <a href="mailto:{{ .Params.email }}" class="text-base leading-7 text-gray-700">{{ .Params.email }}</a>
        </li>
        <li class="flex flex-row gap-4">
          <span class="sr-only">Öffnungszeiten</span>
          <svg class="h-7 w-6 text-gray-700" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          <p class="text-base leading-7 text-gray-700">{{ .Params.openingHours }}</p>
        </li>
      </ul>

      <div class="col-span-2 mt-16 md:mt-0 bg-gray-50 p-3 sm:p-6 border rounded-md sm:rounded-lg sm:shadow-lg">
        <form name="contact-managed-workspace" method="POST" action="/kontakt/success/" data-netlify-recaptcha="true" netlify>
          <h2 class="text-2xl text-gray-900 font-bold mb-6">Anfrage zum Managed Workspace</h2>
          <div class="grid grid-cols-1 gap-y-6 gap-x-8 sm:grid-cols-2">
            <div class="sm:col-span-2">
              <label for="paket" class="block text-sm font-semibold leading-6 text-gray-900">Welches Servicepaket würde am besten zu Ihrem Unternehmen passen?</label>
              <div class="mt-2.5">
                <select name="paket" id="problem" required="required" class="block w-full rounded-md border-0 py-2 px-3.5 text-sm leading-6 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600">
                  <option value="" class="placeholder" disabled="" selected="selected">Bitte auswählen</option>
                  <option value="Essential">Managed Workspace Essential</option>
                  <option value="Premium">Managed Workspace Premium</option>
                  <option value="Enterprise">Managed Workspace Enterprise</option>
                  <option value="Enterprise">Wir möchte unser Managed Workspace individuell konfigurieren</option>
                </select>
              </div>
            </div>
            <div class="sm:col-span-2">
              <label for="hardware-miete" class="block text-sm font-semibold leading-6 text-gray-900">Haben Sie Interesse an Hardware Miete/Leasing (z. B. Laptops)?</label>
              <fieldset class="mt-4">
                <legend class="sr-only">Hardware Miete ist Interessant</legend>
                <div class="space-y-4">
                  <div class="flex items-center">
                    <input id="data-saving-yes" name="notification-method" type="radio" checked class="h-4 w-4 border-gray-300 text-blue-600 focus:ring-blue-600">
                    <label for="data-saving-yes" class="ml-3 block text-sm font-light leading-6 text-gray-900">Ja, wir haben Intersse an Managed Workspace</label>
                  </div>
                  <div class="flex items-center">
                    <input id="data-saving-no" name="notification-method" type="radio" class="h-4 w-4 border-gray-300 text-blue-600 focus:ring-blue-600">
                    <label for="data-saving-no" class="ml-3 block text-sm font-light leading-6 text-gray-900">Nein, Aktuell besteht kein Bedarf</label>
                  </div>
                </div>
              </fieldset>
            </div>
            <div>
              <label for="firstname" class="block text-sm font-semibold leading-6 text-gray-900">Vorname</label>
              <div class="mt-2.5">
                <input type="text" name="first-name" id="first-name" required autocomplete="given-name" class="block w-full rounded-md border-0 py-2 px-3.5 text-sm leading-6 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600">
              </div>
            </div>
            <div>
              <label for="lastname" class="block text-sm font-semibold leading-6 text-gray-900">Nachname</label>
              <div class="mt-2.5">
                <input type="text" name="last-name" id="last-name" required autocomplete="family-name" class="block w-full rounded-md border-0 py-2 px-3.5 text-sm leading-6 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600">
              </div>
            </div>
            <div class="sm:col-span-2">
              <label for="company" class="block text-sm font-semibold leading-6 text-gray-900">Unternehmen</label>
              <div class="mt-2.5">
                <input type="text" name="company" id="company" autocomplete="organization" class="block w-full rounded-md border-0 py-2 px-3.5 text-sm leading-6 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600">
              </div>
            </div>
            <div class="sm:col-span-2">
              <label for="email" class="block text-sm font-semibold leading-6 text-gray-900">Email</label>
              <div class="mt-2.5">
                <input type="email" name="email" id="email" required autocomplete="email" class="block w-full rounded-md border-0 py-2 px-3.5 text-sm leading-6 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600">
              </div>
            </div>
            <div class="sm:col-span-2">
              <label for="phone-number" class="block text-sm font-semibold leading-6 text-gray-900">Telefon</label>
              <div class="relative mt-2.5">
                <input type="tel" name="phone-number" id="phone-number" autocomplete="tel" class="block w-full rounded-md border-0 py-2 px-3.5 text-sm leading-6 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600">
              </div>
            </div>
            <div class="sm:col-span-2">
              <label for="message" class="block text-sm font-semibold leading-6 text-gray-900">Nachricht</label>
              <div class="mt-2.5">
                <textarea name="message" id="message" required rows="4" class="block w-full rounded-md border-0 py-2 px-3.5 text-sm leading-6 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600"></textarea>
              </div>
            </div>
            <div class="flex gap-x-4 sm:col-span-2">
              <div class="flex h-6 items-center">
                <input type="checkbox" name="privacy" class="rounded-md" required />
              </div>
              <label class="text-sm leading-6 text-gray-600" id="switch-1-label">
                Ich akzeptiere die 
                <a href="/datenschutz" class="font-semibold text-blue-600">Datenschutzerklärung</a>
              </label>
            </div>
            <div data-netlify-recaptcha="true"></div>
          </div>
          <div class="mt-8 mb-4">
            <button type="submit" class="block w-full rounded-md bg-blue-600 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 duration-200">
              Let's talk
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{{ end }}