@import "node_modules/tailwindcss/base";
@import "node_modules/tailwindcss/components";
@import "node_modules/tailwindcss/utilities";

html {
  scroll-behavior: smooth;
}

::selection {
  background: rgb(72, 123, 234);
  background: rgba(72, 123, 234, .75);
}

#TableOfContents {
  ul > li {
    color: #6b7280;
    font-family: monospace;
    font-size: 16px;
    line-height: 1.2em;
    margin-bottom: 20px;
  }

  ul > li > ul > li {
    font-size: 14px;
    margin-left: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  ul > li > ul > li > ul > li {
    margin-left: 18px;
  }

  ul > li:last-child {
    margin-bottom: 0;
  }
}

.prose h1 {
  line-height: 1.2em;
}

.prose h1,h2,h3,h4,h5 {
  scroll-margin-top: 128px;
}

.prose a {
  text-underline-offset: 4px;
  text-decoration-color: #2563EB;
  text-decoration-thickness: 2px;
}

.prose img {
  border: 1px solid rgb(229, 231, 235);
  border-radius: .5rem;
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}