{{ if .Params.callToAction }}
<div data-aos="fade-up" class="mx-auto max-w-7xl py-16 px-4 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-4xl bg-gray-100 px-6 pt-6 md:px-0 md:pt-0 rounded-xl">
    <div class="flex flex-col md:flex-row gap-4 md:gap-8 items-center">
      <div class="md:p-8 prose">
        <h2>Wir möchten Sie kennenlernen!</h2>
        <p>In einem <strong>kostenlosen Erstgespräch</strong> möchten wir Sie und Ihr Unternehmen kennenlernen. Finden wir gemeinsam heraus, wie wir Ihnen bei der Digitalisierung helfen können.</p>
        <div class="my-10">
          <a href="/termin" class="px-3.5 py-2.5 bg-blue-600 rounded-md text-sm font-semibold text-white tracking-wide shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 duration-200">
            Jetzt Termin vereinbaren <span aria-hidden="true">→</span>
          </a>
        </div>
        <p>
          <strong>Wir freuen uns auf Sie!</strong><br />
          <span class="text-sm">Hashem Mahmoud <span class="font-light">und</span> Henry Akmann</span>
        </p>
      </div>
      <img src="/content/team/team_business_474x500.png" alt="HanovaTech Team" class="max-h-96 md:h-96 brightness-110 md:pt-8 md:pr-8" />
    </div>
  </div>
</div>
{{ end }}