<footer aria-labelledby="footer-heading">
  <div class="mt-12 sm:mt-20 bg-blue-600 text-white">
    <h2 id="footer-heading" class="sr-only">Footer</h2>
    <div class="mx-auto max-w-7xl px-6 py-16 sm:py-24 lg:px-8 lg:py-32">
      <div class="xl:grid xl:grid-cols-2 xl:gap-8">
        <div class="md:grid md:grid-cols-2 gap-8 xl:col-span-2">
          <div class="grid grid-cols-2 md:gap-8">
            <div class="mt-10 md:mt-0">
              <h3 class="text-sm font-semibold leading-6 text-gray-300">Informationen</h3>
              <ul role="list" class="mt-6 space-y-4">
                <li>
                  <a href="#" class="text-sm leading-6 text-white hover:text-gray-200 duration-200">Kontakt</a>
                </li>

                <li>
                  <a href="#" class="text-sm leading-6 text-white hover:text-gray-200 duration-200">Support</a>
                </li>

                <li>
                  <a href="#" class="text-sm leading-6 text-white hover:text-gray-200 duration-200">Dokumentation</a>
                </li>
              </ul>
            </div>
            <div class="mt-10 md:mt-0">
              <h3 class="text-sm font-semibold leading-6 text-gray-300">Unternehmen</h3>
              <ul role="list" class="mt-6 space-y-4">
                <li>
                  <a href="#" class="text-sm leading-6 text-white hover:text-gray-200 duration-200">Über uns</a>
                </li>

                <li>
                  <a href="#" class="text-sm leading-6 text-white hover:text-gray-200 duration-200">Blog</a>
                </li>

                <li>
                  <a href="#" class="text-sm leading-6 text-white hover:text-gray-200 duration-200">Jobs</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="grid grid-cols-2 md:gap-8">
            <div class="mt-10 md:mt-0">
              <h3 class="text-sm font-semibold leading-6 text-gray-300">Rechtliches</h3>
              <ul role="list" class="mt-6 space-y-4">
                <li>
                  <a href="#" class="text-sm leading-6 text-white hover:text-gray-200 duration-200">Impressum</a>
                </li>

                <li>
                  <a href="#" class="text-sm leading-6 text-white hover:text-gray-200 duration-200">Datenschutz</a>
                </li>

                <li>
                  <a href="#" class="text-sm leading-6 text-white hover:text-gray-200 duration-200">AGB</a>
                </li>
              </ul>
            </div>
            <div class="mt-10 md:mt-0">
              <h3 class="text-sm font-semibold leading-6 text-gray-300">Partner</h3>
              <ul role="list" class="mt-6 space-y-4">
                <li>
                  <a href="https://www.allianz-fuer-cybersicherheit.de/Webs/ACS/DE/Ueber-uns/Teilnehmer/Liste-der-Teilnehmer/Functions/%C3%BCbersicht.html?nn=519278&cms_lv2=489890" target="_blank">
                    <img src="/images/uploads/allianz-fuer-cybersecurity.svg" alt="Allianz für Cybersecurity" width="200" />
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
