<header class="z-10 w-full bg-white transition-shadow duration-300">
  <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1">
      <a href="/" class="-m-1.5 p-1.5">
        <span class="sr-only">HanovaTech</span>
        <img class="h-10 w-auto" src="/images/logo.svg" alt="HanovaTech">
      </a>
    </div>
    <div class="flex lg:hidden">
      <button id="header-open-button" type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
        <span class="sr-only">Hauptmenü öffnen</span>
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      {{ range .Site.Menus.main }}
        {{ if .Params.childs }}
          <div class="relative">
            <button type="button" class="header-flyout-button flex items-center gap-x-1 text-sm font-semibold leading-6 text-gray-900" aria-expanded="false">
              {{ .Name }}
              <svg class="h-5 w-5 flex-none text-gray-400 pointer-events-none" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
              </svg>
            </button>
            iconList: {{ .Params.iconList }}
            {{ if eq .Params.iconList true }}
              <div class="header-flyout-menu opacity-0 invisible absolute -left-8 top-full z-10 mt-3 w-screen max-w-md overflow-hidden rounded-3xl bg-white shadow-lg ring-1 ring-gray-900/5 ease-in-out duration-200">
                <div class="p-4">
                  {{ range .Params.childs }}
                    <div class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
                      <div class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                        <svg class="w-6 h-6 text-gray-600 group-hover:text-blue-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                          {{ .icon | safeHTML }}
                        </svg>
                      </div>
                      <div class="flex-auto">
                        <a href="{{ .url }}" class="block font-semibold text-gray-900">
                          {{ .name }}
                          <span class="absolute inset-0"></span>
                        </a>
                        <p class="mt-1 text-gray-600">{{ .description }}</p>
                      </div>
                    </div>
                  {{ end }}
                </div>
              </div>
            {{ else }}
              <div class="header-flyout-menu opacity-0 invisible absolute -left-8 top-full z-10 mt-3 w-56 rounded-xl bg-white p-2 shadow-lg ring-1 ring-gray-900/5">
                {{ range .Params.childs }}
                  <a href="{{ .url }}" class="block rounded-lg px-3 py-2 text-sm font-semibold leading-6 text-gray-900 hover:bg-gray-50">{{ .name }}</a>
                {{ end }}
              </div>
            {{ end }}
          </div>
        {{ else }}
          <a href="{{ .URL }}" class="text-sm font-semibold leading-6 text-gray-900">{{ .Name }}</a>
        {{ end }}
      {{ end }}
    </div>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <a href="/contact" class="rounded-md bg-blue-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 duration-200">
        Kontakt <span aria-hidden="true">&rarr;</span>
      </a>
    </div>
  </nav>

  <div id="header-mobile-menu" class="hidden lg:hidden" role="dialog" aria-modal="true">
    <div class="fixed inset-0 z-10 backdrop-blur-sm"></div>
    <div focus="true" class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
      <div class="flex items-center justify-between">
        <a href="/" class="-m-1.5 p-1.5">
          <span class="sr-only">HanovaTech</span>
          <img class="h-10 w-auto" src="/images/logo.svg" alt="HanovaTech">
        </a>
        <button id="header-close-button" type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
          <span class="sr-only">Close menu</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/10">
          <div class="space-y-2 py-6">
            {{ range .Site.Menus.main }}
              {{ if .Params.childs }}
                <div class="-mx-3">
                  <button type="button" class="header-submenu-button flex w-full items-center justify-between rounded-lg py-2 pl-3 pr-3.5 text-base font-semibold leading-7 hover:bg-gray-50" aria-controls="disclosure-1" aria-expanded="false">
                    {{ .Name }}
                    <svg class="h-5 w-5 flex-none pointer-events-none" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                    </svg>
                  </button>
                  <div class="hidden mt-2 space-y-2">
                    {{ range .Params.childs }}
                      <a href="{{ .url }}" class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50">{{ .name }}</a>
                    {{ end }}
                  </div>
                </div>
              {{ else }}
                <a href="{{ .URL }}" class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">{{ .Name }}</a>
              {{ end }}
            {{ end }}
          </div>
          <div class="py-6">
            <a href="/contact" class="-mx-3 block bg-blue-600 rounded-lg py-2.5 px-3 text-center text-white font-semibold leading-7 text-gray-900 hover:bg-blue-700 duration-200">
              Kontakt <span aria-hidden="true">&rarr;</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>