<!-- Header Start -->
<script>
  // Fixed Header Start
  function toggleFixedHeader() {
    if (window.scrollY === 0) {
      const headers = document.getElementsByTagName("header")
      headers[0].classList.remove("fixed", "shadow-md")
      if (headers.length > 1)
        headers[1].remove()
    } else {
      const headers = document.getElementsByTagName("header")
      if (headers.length === 1) {
        const new_header = headers[0].cloneNode(true)
        new_header.style.zIndex = -1
        new_header.style.opacity = 0
        headers[0].classList.add("fixed", "shadow-md")
        headers[0].after(new_header)
      }
    }
  }

  toggleFixedHeader()
  window.addEventListener("scroll", () => {
    toggleFixedHeader()
  })
  // Fixed Header End

  // Toggle Mobile Menu Start
  document.getElementById("header-open-button").addEventListener("click", () => {
    document.getElementById("header-mobile-menu").classList.toggle("hidden")
  })

  document.getElementById("header-close-button").addEventListener("click", () => {
    document.getElementById("header-mobile-menu").classList.toggle("hidden")
  })
  // Toggle Mobile Menu End

  // Toggle Mobile Submenu Start
  for (const button of document.getElementsByClassName("header-submenu-button")) {
    button.addEventListener("click", event => {
      const button = event.target
      button.children[0].classList.toggle("rotate-180")
      const submenu = button.nextElementSibling
      submenu.classList.toggle("hidden")
    })
  }
  // Toggle Mobile Submenu End

  // Toggle Desktop Flyout Menu Start
  function closeFlyoutMenus(event) {
    if (!event.target.classList.contains("header-flyout-button")) {
      for (const flyoutMenu of document.getElementsByClassName("header-flyout-menu")) {
        flyoutMenu.style.opacity = 0
        flyoutMenu.style.visibility = "hidden"
      }
    }
  }

  for (const button of document.getElementsByClassName("header-flyout-button")) {
    button.addEventListener("click", event => {
      const flyoutMenu = event.target.nextElementSibling
      if (flyoutMenu.style.opacity != 1) {
        flyoutMenu.style.opacity = 1
        flyoutMenu.style.visibility = "visible"
      } else {
        flyoutMenu.style.opacity = 0
        flyoutMenu.style.visibility = "hidden"
      }
    })
  }

  document.addEventListener("click", closeFlyoutMenus)
  // Toggle Desktop Flyout Menu End
</script>
<!-- Header End -->

<!-- Netlify Identity Widget Start -->
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/"
        })
      }
    })
  }
</script>
<!-- Netlify Identity Widget End -->

<!-- Glide.js Start -->
<script src="https://unpkg.com/@glidejs/glide@3.6.0/dist/glide.min.js"></script>
<script>
  if (document.getElementsByClassName("glide").length) {
    new Glide('.glide').mount()
    new Glide('.glide.autoplay', {
      type: 'carousel',
      autoplay: 6000
    }).mount()
  }
</script>
<!-- Glide.js End -->

{{ if .Site.Data.google.google_tag_key }}
<!-- Google Tag Manager -->
<script type="text/plain" data-cookie-consent="tracking">
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-{{ .Site.Data.google.google_tag_key }}');
</script>
<!-- End Google Tag Manager -->
{{ end }}