<!-- Header Start -->
<script>
  // Fixed Header Start
  function toggleFixedHeader() {
    if (window.scrollY === 0) {
      const headers = document.getElementsByTagName("header")
      headers[0].classList.remove("fixed", "shadow-md")
      if (headers.length > 1)
        headers[1].remove()
    } else {
      const headers = document.getElementsByTagName("header")
      if (headers.length === 1) {
        const new_header = headers[0].cloneNode(true)
        new_header.style.zIndex = -1
        new_header.style.opacity = 0
        headers[0].classList.add("fixed", "shadow-md")
        headers[0].after(new_header)
      }
    }
  }

  toggleFixedHeader()
  window.addEventListener("scroll", () => {
    toggleFixedHeader()
  })
  // Fixed Header End

  // Hide Icon on Homepage Start
  const headerIcon = document.getElementById("header-icon")
  if (headerIcon) {
    if (window.location.pathname == "/") {
      document.addEventListener("scroll", () => {
        if (window.scrollY > 150) {
          headerIcon.classList.add("opacity-100")
        } else {
          headerIcon.classList.remove("opacity-100")
        }
      })
    } else {
      headerIcon.classList.add("opacity-100")
    }
  }
  // Hide Icon on Homepage End

  // Toggle Mobile Menu Start
  document.getElementById("header-open-button").addEventListener("click", () => {
    document.getElementById("header-mobile-menu").classList.toggle("hidden")
  })

  document.getElementById("header-close-button").addEventListener("click", () => {
    document.getElementById("header-mobile-menu").classList.toggle("hidden")
  })
  // Toggle Mobile Menu End

  // Toggle Mobile Submenu Start
  const mobileSubmenuButtons = document.getElementsByClassName("header-submenu-button")
  for (const button of mobileSubmenuButtons) {
    button.addEventListener("click", event => {
      const button = event.target
      button.children[0].classList.toggle("rotate-180")
      const submenu = button.nextElementSibling
      submenu.classList.toggle("hidden")
    })
  }
  // Toggle Mobile Submenu End

  // Toggle Desktop Flyout Menu Start
  const desktopFlyoutButtons = document.getElementsByClassName("header-flyout-button")
  for (const button of desktopFlyoutButtons) {
    button.addEventListener("click", event => {
      // hide other flyout menus
      for (const b of desktopFlyoutButtons) {
        if (b != event.target) {
          b.nextElementSibling.style.opacity = 0
          b.nextElementSibling.style.visibility = "hidden"
        }
      }

      // toggle related flyout menu
      const flyoutMenu = event.target.nextElementSibling
      if (flyoutMenu.style.opacity != 1) {
        flyoutMenu.style.opacity = 1
        flyoutMenu.style.visibility = "visible"
      } else {
        flyoutMenu.style.opacity = 0
        flyoutMenu.style.visibility = "hidden"
      }
    })
  }

  function closeFlyoutMenus(event) {
    if (!event.target.classList.contains("header-flyout-button")) {
      for (const flyoutMenu of document.getElementsByClassName("header-flyout-menu")) {
        flyoutMenu.style.opacity = 0
        flyoutMenu.style.visibility = "hidden"
      }
    }
  }

  document.addEventListener("click", closeFlyoutMenus)
  // Toggle Desktop Flyout Menu End
</script>
<!-- Header End -->

<script>
  var acc = document.getElementsByClassName("accordion")
  for (let i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active")
      var panel = this.nextElementSibling
      if (panel.style.display === "block") {
        panel.style.display = "none"
        acc[i].querySelector(".accordionClosed").style.display = "block"
        acc[i].querySelector(".accordionOpen").style.display = "none"
      } else {
        panel.style.display = "block"
        acc[i].querySelector(".accordionClosed").style.display = "none"
        acc[i].querySelector(".accordionOpen").style.display = "block"
      }
    })
  }
</script>

<!-- Netlify Identity Widget Start -->
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/"
        })
      }
    })
  }
</script>
<!-- Netlify Identity Widget End -->

<!-- Glide.js Start -->
{{ $glide := resources.Get "/utils/glide@3.6.0/glide.js" | minify | fingerprint }}
<script src="{{ $glide.RelPermalink }}"></script>
<script>
  if (document.getElementsByClassName("glide").length) {
    new Glide('.glide').mount()
    new Glide('.glide.autoplay', {
      type: 'carousel',
      autoplay: 6000
    }).mount()
  }
</script>
<!-- Glide.js End -->

<!-- Animate on Scroll Start -->
{{ $aos := resources.Get "/utils/aos@2.3.4/aos.js" | minify | fingerprint }}
<script src="{{ $aos.RelPermalink }}"></script>
<script>AOS.init();</script>
<!-- Animate on Scroll End -->

<!-- FSLightbox Start -->
{{ $fslightbox := resources.Get "/utils/fslightbox@3.4.1/fslightbox.js" | minify | fingerprint }}
<script src="{{ $fslightbox.RelPermalink }}"></script>
<!-- FSLightbox End -->